.env
.env.stack
model_presets.json


node_modules/
**/node_modules/
dist/
**/dist/
.nimis/
.monitor/
.claude/

*.log
*.swp
*.backup


sglang-oai-chat*.jsonl

# Python
.venv/
**/.venv-webui/
__pycache__/
*.py[cod]
*.pyo
.Python
-

.sglang/
sglang
torch/
vision/
.venv-stack-ui/

.next/

