.env
.env.stack
model_presets.json


node_modules/
**/node_modules/
dist/
**/dist/
.nimis/
.monitor/

*.log
*.swp
*.backup


# Python
.venv/
**/.venv-webui/
__pycache__/
*.py[cod]
*.pyo
.Python
-

.sglang/
sglang
torch/
vision/


.next/
